.grid {
    background-color: rgb(17, 17, 36);
    display: grid;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 20px;
    height: 100%;
}

.resourceGrid {
    composes: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.taskGrid {
    composes: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
