.item {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background-color: #222222;
    width: 10vw;
    height: 20vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
